/* style.css - a simple style sheet */

  body { 
	margin-left: 10%;
	margin-right: 10%; 
	font-family: Trebuchet MS, sans-serif; 
	}
	
  pre { font-family: monospace; }
  
  hr{
	color: rgb(204,204,255);
	background-color: rgb(204,204,255);
	height: 0.33em;
  }
  
  div.color {
    background: rgb(204,204,255);
    padding: 0.5em;
    border: none;
  }
  
  #quote {
  text-align: center;
  }
  
  #quote-source{
  text-align: left; 
  margin-left: 10%;
  }
  
  #menu { position: relative; top: 50px; left: 0px;
  width: 100%; height: -12px;
  background-color: #333366; color: #FFFFFF;}
  
  div.color2 {
    background: rgb(204,204,255);
    padding: 0.1em;
    border: none;
  }
  
  #profile { position: relative; top: 0px; left: 0px;
  width: 100%; }