@CHARSET "ISO-8859-1";
  body { 
	background-color: rgb(204, 204, 204);
	font-family: Trebuchet MS, sans-serif;
	margin-left: 10%;
	margin-right: 10%; 
	}

	img { max-height: 100%;
	}
		 
	hr {
		margin-left: auto;
 		margin-right: auto;
		height: 1px;
	}
	
	p.ebheader {
		margin-top: 4px;
	}
	
	p.ebtitle {
		font-size: larger;
	}
	
	#biotree_select_div {
		display: 'none';
		border-width: 1px; 
		boder-style: solid;
		border-color: black;
	}
	
	#attribute_select_div {
		display: 'none';
	}
	
	select.sourceselect {
		width: 280px;
	}
	
	
	.ebwidth {
		width: 630px;
	}
	
	.ebtext {
		width: 340px;
	}
	
	
	#name_search {
		width: 520px;
	}
	
	#name_search_div{
		border-width: 1px; 
		boder-style: solid;
		border-color: black; 
	}
	
	.smallmap {
		width: 700px;
		height: 350px;
	}
	
	.query_type_button {
		border: 1px solid;
		border-color: rgb(104, 104, 104);
	}
	
	td.qtype {
		width: 120px;
		vertical-align: top;
	}
	
	td.qtype_text {
		width: 120px;
		text-align: center;
		vertical-align: top;
	}
	
	td.quicksearch {
		width: 650px;
		padding-left: 10px;
	
	}
	
	td img {
		vertical-align: middle;
	}
	
	td.option_title {
		width: 55px;
		vertical-align: middle;
	}
	
/*	td.find_table {*/
/*		width: 525px;*/
/*	}*/
	
	td.option_title_plus {
		width: 65px;
		vertical-align: middle;
	}
	
	td.query_title {
		width: 105px;
		vertical-align: middle;
	}
	
	td.query_field {
		vertical-align: middle;
		width: 600px;
	}
	
	td.query_image {
		width: 105px;
		vertical-align: middle;
	}
	
	
	td.query_title_plus {
		width: 120px;
		vertical-align: middle;
	}
	
	td.find_c2 {
		width: 515px;
	}
	
	td.query_c2_footer {
		width: 490px;
	}
	
	td.query_spatial_c2 {
		width: 450px;
		padding-left: 5px;
	}
	
	.find_name {
		width: 250px;
		text-align: left;
	}
	
	.find_n {
		width: 30px;
		text-align: center;
	}
	
	.find_source {
		width: 30px;
		text-align: center;
	}
	
	#find_hide {
		float: left;
	}
	
	#find_msg {
		display: none;
		font-style: italic;
		border: 1px gray solid;
		padding:1px;
		margin-left:2px;
	}
	
	#find_div {
		overflow: auto;
		width: 517px;
		height: 80px; 
        border: 1px gray solid; 
        padding:0px; 
        margin: 0px;
	}
	
	table thread {
		cursor: pointer;
	}
	
	#imgcolumn {
		float: left;
		width: 70px;
	}
	
	#query_table_c2 {
		display: inline;
		float: left;
		margin-left: 0px;
	}
	
	select.query_options {
		size: 6;
		width: 250px;
	}
	
	#footer {
		clear: both;
	}
	
	#ebheader {
		text-align: left;
	}
	
	#queryfooter {
		margin-left: 620px;
	}
	
	input.cancel {
		color: red;
	}
	
	input.singlesource {
		width: 232px;
	}
	
	.button-standard {
		width: 60px;
	}