@CHARSET "ISO-8859-1";
  
/*  *[title] { font:blue; color:green; padding: 1px; }*/
  
  form {
  	padding-bottom: 0px;
  	margin-bottom: 0px;
  }
  
  body { 
	background-color: rgb(204, 204, 204);
	font-family: Trebuchet MS, sans-serif;
	margin-left: 10%;
	margin-right: 10%; 
	}

	div.main {
		border: 3px groove;
		width: 853 px;
		padding: 6px;
		padding-bottom: 3px;
	}
	
	textarea.names_list {
		width: 350px;
		height: 150px;
	}

	#ebheader {
		text-align: center;
		padding: 5px;
		border-bottom: 3px groove;
	}
	
	#ebmenu {
		margin: 0px;
	}
	
	#ebfooter {
		clear: both;
		border-top: 3px groove;
		padding: 3px;
		font-size: smaller;
	}
	
	#output_div {
		clear: both;
		border-top: 3px groove;
		padding-top: 6px;
		padding-left: 3px;
		padding-bottom: 6px;
	}
	
	#blurb {
		font-size: small;
		border: 3px ridge;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 2px;
		padding-bottom: 3px;
		background-color: Gainsboro;
	}
	#find_main_div {
		clear: both;
		border-bottom: 3px groove;
		padding: 12px;
		padding-left: 3px;
	}
	
	#info_div {
		margin-top: 5px;
	}
	
	#inner_table_div {
		padding-left: 3px;
	}
	
	#ebimage {
		border: grey 1px solid;
		margin-bottom: 1px;
	}
	
	#ebtool {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	#names_info {
		height: 200px;
	}
	
	#info_queries {
		padding-left: 5px;
	}
	
	#cart {
		padding-left: 3px;
		border-bottom: 3px;
		padding-top: 6px;
		padding-bottom: 6px;
		font-size: smaller;
	}
	
	div.margin5px {
		padding-left: 3px;
		padding-top: 6px;
		padding-bottom: 6px;
	}
	
	.eb {
		width: 250px;
	}
	
	.eb_select {
		width: 250px;
		height: 120px;
	}
	
	.eb_info {
		width: 350px;
	}
	
	
	.eb_plus {
		width: 450px;
	}
	
	#invalid_taxa {
		text-color: red;
	}

	img { 
		max-height: 100%;
	}
		 
	hr {
		margin-left: auto;
 		margin-right: auto;
		height: 1px;
	}
	
	p.ebheader {
		margin-top: 4px;
	}
	
	p.ebtitle {
		font-size: larger;
	}
	
	#thanks {
		text-indent: 50px;
	}
	
	#biotree_select_div {
		display: 'none';
		border-width: 1px; 
		boder-style: solid;
		border-color: black;
	}
	
	#attribute_select_div {
		display: 'none';
	}
	
	select.sourceselect {
		width: 280px;
	}
	
	
	.ebwidth {
		width: 630px;
	}
	
	.ebtext {
		width: 340px;
	}
	
	
	#name_search {
		width: 530px;
	}
	
	#name_search_div{
		border-width: 1px; 
		boder-style: solid;
		border-color: black; 
	}
	
	.smallmap {
		width: 835px;
		height: 400px;
		border: 1px solid grey;
		
	}
	
	img.query_type_button {
		border: 1px solid;
		border-color: gray;
	}
	
	img.query_type_button_non_active {
		border: 1px solid;
		border-color: rgb(104, 104, 104);
		height: 40px;
	}
	
	.query_type_button_active {
		border: 1px solid;
		border-color: red;
		height: 40px;
	}
	
	.query_type_button_active_interquery {
		border: 1px solid;
		border-color: red;
		height: 40px;
	}
	
	.query_type_button_non_active_interquery {
		border: 1px solid;
		border-color: rgb(104, 104, 104);
		height: 40px;
	}
	
	td.qtype {
		width: 120px;
		vertical-align: top;
	}
	
	td.qtype_text {
		width: 120px;
		text-align: center;
		vertical-align: top;
		font-size: 14px;
	}
	
	td.quicksearch {
		width: 650px;
		padding-left: 10px;
	
	}
	
	td img {
		vertical-align: middle;
	}
	
	td.option_title {
		width: 55px;
		vertical-align: middle;
	}
	
	td.option_title_plus {
		width: 65px;
		vertical-align: middle;
	}/*
	
	#button-nsources {
		border-left: 1px solid grey;
	}
	
	*/
	
	table.query_header {
		border-bottom: 1px solid grey;
	}
	
	td.query_title_plus {
		width: 115px;
		vertical-align: middle;
	}
	
	td.output_buttons {
		width: 316px;
		align: right;
	}
	
	.query_title {
		width: 105px;
		vertical-align: middle;
		align: left;
	}
	
	.query_title_image {
		width: 105px;
		vertical-align: middle;
		horizontal-align: center;
	}
	
	td.query_field {
		vertical-align: middle;
		width: 350px;
	}
	
	
	td.query_image {
		width: 105px;
		vertical-align: middle;
	}
	
	td.query_title_minus {
		width: 95px;
		vertical-align: middle;
	}
	
	td.query_buttons {
		width: 200px;
		vertical-align: top;
		align: right;
	}
	
	td.query_not {
		width: 145px;
		vertical-align: middle;
		align: right;
	}
	
	textarea.eb_sql {
		width: 570px;
		height: 150px;
		readonly: readonly;
	}
	
	td.query_sources {
		width: 483px;
		vertical-align: middle;
		align: left;
	}
	
	td.cart_menu {
		text-align: center;
		valign: middle;
		padding: 2px;
	}
	
	td.cart_query {
		height: 40px;
	}
	
	
	.find {
		width: 527px;
	}
	
	td.query_c2_footer {
		width: 490px;
	}
	
	td.query_spatial_c2 {
		width: 450px;
		padding-left: 5px;
	}
	
	.qop {
		width: 120px;
	}
	
	.find_name {
		width: 250px;
		text-align: left;
	}
	
	.find_n {
		width: 30px;
		text-align: center;
	}
	
	.find_source {
		width: 30px;
		text-align: center;
	}
	
	#find_hide {
		float: left;
	}
	
	#find_msg {
		display: none;
		font-style: italic;
		border: 1px gray solid;
		padding:1px;
		margin-left:2px;
	}
	
	#find_div {
		overflow: auto;
		width: 527px;
		height: 80px; 
        border: 1px gray solid; 
        padding:0px; 
        margin: 0px;
	}
	
	table thread {
		cursor: pointer;
	}
	
	#imgcolumn {
		float: left;
		width: 70px;
	}
	
	#query_table_c2 {
		display: inline;
		float: left;
	}
	
	select.query_options {
		size: 6;
		width: 250px;
	}
	
	
	#queryfooter {
		margin-left: 620px;
	}
	
	input.delete {
		color: red;
		width: 60px;
	}
	
	input.cancel {
		color: green;
		width: 60px;
	}
	
	input.singlesource {
		width: 232px;
	}
	
	.button-standard {
		width: 60px;
	}
	
	table.info {
		border-collapse:collapse;
	}
	
	th.info {
		font-size: small;
		text-align: center;
		border: 1px gray solid;
		padding-left: 2px;
		padding-right: 2px;
		background-color: rgb(234, 234, 234);
	}
	
	td.info_basic {
		font-size: small;
		text-align: center;
		border: 1px gray solid;
		padding-left: 3px;
		padding-right: 3px;
		background-color: white;
	}
	
	.info_biotree {
		font-size: small;
		text-align: center;
		border: 1px gray solid;
		padding-left: 3px;
		padding-right: 3px;
		background-color: palegreen;
	}
	
	.info_biotable {
		font-size: small;
		text-align: center;
		border: 1px gray solid;
		padding-left: 3px;
		padding-right: 3px;
		background-color: tan;
	}
	
	.info_biogeographic{
		font-size: small;
		text-align: center;
		border: 1px gray solid;
		padding-left: 3px;
		padding-right: 3px;
		background-color: skyblue;
	}
	
	.info_biorelational{
		font-size: small;
		text-align: center;
		border: 1px gray solid;
		padding-left: 3px;
		padding-right: 3px;
		background-color: pink;
	}
	
	th.query_title {
		width: 105px;
		vertical-align: middle;
		align: left;
		font-style: normal;
	}
